@charset "utf-8";

*{margin:0; padding:0;}
html, body{margin:0;}
div,h1,h2,h3,h4,h5,p{margin:0;}
ul li{list-style:none;}
a{text-decoration: none;}
a:visited{color:#333;}

body{

    width:100%;
    height:100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}


.borderLine:hover{

    border: 2px solid #eaeaea;
    transition: border 500ms;
    transform: scale(1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
        
}


header{ 
    width: 100%; 
    height: 70px; 
    background-color: #000;
    display: flex;
    align-items: center;
    margin:0 auto;
    position: fixed;
    left:0;
    top:0;
    z-index:9999;

    }

header.changes{  background-color: rgba(0,0,0,0.6);}

header .logo{

    height:50px;
    margin-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

header .logo a{

    height:100%;
    
}

header .logo a img{

    height:100%;

}

header nav{
    
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav .menu{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav .menu li{

    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100%;
}

header nav .menu li a{

    color:#eaeaea;
    font-size: 13px;
    width:100%;
    height:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .menu li a img{

    height:20px;
    filter: invert(100%);
    margin: 5px;
    
}



header nav .menu li a:hover{

    color:#fff;
    font-size: 15px;
}


header nav .accountWrap{

    width:20%;
    height:100%;

}

header nav .accountWrap .clickProfil{

    width:100%;
    height:70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}

header nav .accountWrap .clickProfil img{

    height:30px;
    margin:0px 3px;
    text-align: center;
    border-radius: 50%;

}

header nav .accountWrap .clickProfil .account{

    padding: 5px;
    color:#fff;
    font-size: 12px;
    font-weight: 700;
    float:left;
}

header nav .accountWrap .accountList{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color:#fff;
    height:0px;
}

header nav .accountWrap .accountList.open{

    height:300px;
    transition: height 500ms;
    position: relative;
    z-index:10;

}


header nav .accountWrap .accountList .accountBox{

    width:100%;
    height:100%;
    padding: 5px 0px;
    display:none;



}

header nav .accountWrap .accountList.open .accountBox{

    display:block;

    
}

header nav .accountWrap .accountList .accountBox li{

    padding: 10px 0px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;


}


header nav .accountWrap .accountList .accountBox li a{
    
    font-size: 15px;
    color:#eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header nav .accountWrap .accountList .accountBox li a span{

    font-weight: 300;
    font-size: 20px;
    width:30px;
    height:30px;
    margin:0px 3px;
    text-align: center;
    line-height: 30px;
    background-color: #333;
    color:#eaeaea;
    border-radius: 50%;

}

header nav .accountWrap .accountList .accountBox li a:hover{

    color:#fff;
}

#main{ 

    width: 100%;
    height: 350px;
    margin:0 auto;
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .sliderWrap{

    width: 100%;
    height:100%;
    position: relative;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

#main .sliderWrap .mainBtn{

    width: 300px;
    height:100px;
    position: absolute;
    bottom:-20px;
    right:0;
    z-index:100;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .sliderWrap .mainBtn ul{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .sliderWrap .mainBtn ul li{

    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
    /* background-color:rgba(188, 188, 188, 0.3);
    border-radius: 50%; */

}

#main .sliderWrap .mainBtn ul li img{

    width: 30px;
    height: 30px;
    height:100%;
    filter: invert(100%);
    position: absolute;
    z-index:10;

}

#main .sliderWrap .mainBtn ul li:hover img{

    /* background-color:rgba(255, 255, 255, 0.3); */
    transform: scale(1.08);
    transition: 500ms;
}

#main .sliderWrap .mainSlide{

    width:3000%;
    height:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    

}

#main .sliderWrap .mainSlide li{

    width: 800px;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    border-radius: 4px;
    margin-right:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main .sliderWrap .mainSlide li a{
   
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


#main .sliderWrap .mainSlide li a:hover img{
 
    transform: scale(1.08);
    transition: 800ms;

}
#main .sliderWrap .mainSlide.next{

    transform: translateX(-810px);
    transition: 800ms;
}

#main .sliderWrap .mainSlide.prev{

    transform: translateX(810px);
    transition: 800ms;
}

#main .sliderWrap .mainSlide li a img{

     height:100%;
     position: absolute;
     left:0;

}

#main .sliderWrap .mainSlide li a .slideTitle{

    height:50%;
    margin-left:40px;
    
}

#bestTitle{

    width:100%;
    height:200px;
    margin:0 auto;
    float:left;

}

#bestTitle .bestBox{

    width:100%;
    height:100%;
    margin:0 auto;
    float:left;
}

#bestTitle .bestBox ul{

    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bestTitle .bestBox ul li{

    width:calc(15%);
    height:130px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;

}


#bestTitle .bestBox ul li img{

   height:120px;
   line-height: 120px;
   text-align: center;
   position: absolute;
   left:0;
   top:0;

}

#bestTitle .bestBox ul li video{

    display:none;
    height:120px;
    position: absolute;
    left:0;
    top:0;
}

#bestTitle .bestBox ul li:hover video{

    display:block;
}

#displayWrap{

    width: 100%;
    height: 100%;
    margin:0 auto;
}

#displayWrap .dpList{

    width:100%;
    height:200px;
    padding: 30px 0px;
    margin:0 auto;
    margin-left:20px;
    overflow: hidden;
}

#displayWrap .dpList h3{

    padding: 20px;
    color:#fff;
    letter-spacing: 3px;
    font-weight: 300;

}

#displayWrap .dpList ul{

    width:5000%;
    height:100%;
    position: relative;

}

#displayWrap .dpList ul li{

    width:250px;
    height:130px;
    margin:0 auto;
    float:left;
    text-align: center;
    border-radius: 4px;
    margin-right:10px;

}

#displayWrap .dpList ul li.move{

    margin-left: -260px;
    transition: 500ms;
}

#displayWrap .dpList ul li a{

    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#displayWrap .dpList ul li a img{

    height:110%;
}


/* banner */

#banner{

    width: 100%;
    height: 500px;
    margin:0 auto;
    margin-top:100px;

}

#banner .bannerWrap{

    width: 100%;
    height: 100%;
    background-image: url(../img/banner1.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;


}

#banner .bannerWrap ul , div{

    height:100%;

}

#banner .bannerWrap .bannerTitle{
    
    width:50%;
    height:200px;
    background-image: url(../img/slideTitle5.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .bannerWrap .bannerTitle .pluse{

    width:100px;
    height:50px;
    border-radius: 4px;
    background-color: #333;
    border: none;
    position: relative;
    top:150px;

}

#banner .bannerWrap .bannerTitle .pluse a{

    color:#eaeaea;
    font-size: 20px;
    letter-spacing: 3px;
}

#banner .bannerWrap .bannerTitle .pluse a:hover{

    color:#fff;
}

#banner .bannerWrap .BannerContent{

    width:100%;
    height:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#banner .bannerWrap .bannerSlider{

    width:100%;
    height:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* 
#banner .bannerWrap .bannerSlider.move{

    margin-left:-310px;
    transition: margin-left 1s;

}  */

#banner .bannerWrap .bannerSlider li{

    width:260px;
    height:350px;
    margin-right:50px;


}

#banner .bannerWrap .bannerSlider li.move{

    transform: translateX(-310px);
    transition: 800ms;
}

#banner .bannerWrap .bannerSlider li a{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

#banner .bannerWrap .bannerSlider li a img{

    height:100%;
    border-radius: 4px;
}

#banner .bannerWrap .bannerSlider li a img:hover{

    border: 3px solid #fff;
    transform: scale(1.08);
    transition: 800ms;

}

#banner .bannerWrap .bannerBtn{

    width:100px;
    height:100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left:0;
    z-index:10;

}

#banner .bannerWrap .bannerBtn img{

    width:30px;
    height:30px;
    filter: invert(100%);
    z-index:10;
    opacity:0;

}

#banner .bannerWrap .bannerBtn:hover img{

    opacity:1;
    transition: 800ms;
    cursor: pointer;

}

.bottomDisplay {

    opacity: 0;
    height:0px;
}

.bottomDisplay .disList{

    height:0px;
    padding: 0px;
    opacity:0;

}

.bottomDisplay.more{

    height:100%;
    opacity: 1;
    transition: 800ms;

}

.bottomDisplay.more .disList{

    height:200px;
    padding: 30px 0px;
    opacity:1;
    transition: 1s;
}

@media screen and (max-width:780px){

header nav .menu li{ width: 60px; }
header nav .menu li a{ font-size: 8px; }
header nav .accountWrap .accountList .accountBox li a{ font-size: 11px;}
}

