@charset "utf-8";

*{margin:0; padding:0;}
html, body{margin:0;}
div,h1,h2,h3,h4,h5,p{margin:0;}
ul li{list-style:none;}
a{text-decoration: none;}
a:visited{color:#333;}

body{

    width:100%;
    height:100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

header{ 
    width: 100%; 
    height: 70px; 
    background-color: #000;
    display: flex;
    align-items: center;
    margin:0 auto;
    position: relative;
    left:0;
    top:0;
    z-index:9999;

    }

header .logo{

    height:50px;
    margin-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

header .logo a{

    height:100%;
    
}

header .logo a img{

    height:100%;

}

header nav{
    
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header nav .menu{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

header nav .menu li{

    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100%;
}

header nav .menu li a{

    color:#eaeaea;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .menu li a img{

    height:20px;
    filter: invert(100%);
    margin: 5px;
    
}



header nav .menu li a:hover{

    color:#fff;
    font-size: 15px;
}


header nav .accountWrap{

    width:20%;
    height:100%;

}

header nav .accountWrap .clickProfil{

    width:100%;
    height:70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}

header nav .accountWrap .clickProfil img{

    height:30px;
    margin:0px 3px;
    text-align: center;
    border-radius: 50%;

}

header nav .accountWrap .clickProfil .account{

    padding: 5px;
    color:#fff;
    font-size: 12px;
    font-weight: 700;
    float:left;
}

header nav .accountWrap .accountList{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color:#fff;
    height:0px;
}

header nav .accountWrap .accountList.open{

    height:300px;
    transition: height 500ms;
    position: relative;
    z-index:10;

}


header nav .accountWrap .accountList .accountBox{

    width:100%;
    height:100%;
    padding: 5px 0px;
    display:none;



}

header nav .accountWrap .accountList.open .accountBox{

    display:block;

    
}

header nav .accountWrap .accountList .accountBox li{

    padding: 10px 0px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;


}


header nav .accountWrap .accountList .accountBox li a{
    
    font-size: 15px;
    color:#eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header nav .accountWrap .accountList .accountBox li a span{

    font-weight: 300;
    font-size: 20px;
    width:30px;
    height:30px;
    margin:0px 3px;
    text-align: center;
    line-height: 30px;
    background-color: #333;
    color:#eaeaea;
    border-radius: 50%;

}

header nav .accountWrap .accountList .accountBox li a:hover{

    color:#fff;
}

#main{ 

    width: 100%;
    height: 350px;
    margin:0 auto;
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .sliderWrap{

    width: 100%;
    height:100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

#main .sliderWrap ul{

    width:3000%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    

}

#main .sliderWrap ul li{

    width: 800px;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    border-radius: 4px;
    margin-right:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main .sliderWrap ul li img{

     height:100%;
     position: absolute;
     left:0;

}

#main .sliderWrap ul li .slideTitle{

    height:50%;
    margin-left:40px;
    
}

#bestTitle{

    width:100%;
    height:200px;
    margin:0 auto;
    float:left;

}

#bestTitle .bestBox{

    width:100%;
    height:100%;
    margin:0 auto;
    float:left;
}

#bestTitle .bestBox ul{

    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bestTitle .bestBox ul li{

    width:calc(15%);
    height:130px;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px,rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
    cursor: pointer;

}


#bestTitle .bestBox ul li img{

   height:120px;
   text-align: center;
   position: absolute;
   left:0;
   top:0;

}

#bestTitle .bestBox ul li video{

    display:none;
    height:120px;
}


.borderLine:hover{

    border: 2px solid #eaeaea;
    transition: border 500ms;
    transform: scale(1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
        
}


#bestTitle .bestBox ul li:hover video{

    display:block;
}

#displayWrap{

    width: 100%;
    height: 100%;
    margin:0 auto;
}

#displayWrap .dpList{

    width:100%;
    height:200px;
    padding: 30px 0px;
    margin:0 auto;
    margin-left:20px;
    overflow: hidden;
}

#displayWrap .dpList h3{

    padding: 20px;
    color:#fff;
    letter-spacing: 3px;
    font-weight: 300;

}

#displayWrap .dpList ul{

    width:5000%;
    height:100%;
    position: relative;

}

#displayWrap .dpList ul li{

    width:250px;
    height:130px;
    margin:0 auto;
    float:left;
    text-align: center;
    border-radius: 4px;
    margin-right:10px;

}

#displayWrap .dpList ul li a{

    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#displayWrap .dpList ul li a img{

    height:110%;
}